@font-face {
  font-family: WildBreak;
  src: url("assets/fonts/Wildbreak\ DEMO.otf");
}
@font-face {
  font-family: Blanchope;
  src: url("assets/fonts/Blanchope\ Free.ttf");
}
@font-face {
  font-family: StayHome;
  src: url("assets/fonts/STAY\ HOME.otf");
}
@font-face {
  font-family: CaviarDreams;
  src: url("assets/fonts/CaviarDreams.ttf");
}

h1 {
  font-family: WildBreak;
  font-size: 15rem;
  align-self: center;
}

h2 {
  font-family: Blanchope;
  font-size: 4rem;
}

h3 {
  font-family: StayHome;
  font-size: 3rem;
}
p {
  font-family: CaviarDreams;
}
.principal-section {
  border-color: rgb(0, 0, 0);
  border-style: solid;
}

.banner {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  text-align: center;
  align-items: center;

  background: linear-gradient(0deg, rgb(46, 46, 46), rgb(0, 0, 0));
}
#banner {
  background-image: url("https://i.pinimg.com/originals/77/a7/86/77a78633604cce24717dc9735b013725.jpg");
  background-size: 100% auto;
}
#titleName {
  align-self: center;
  color: white;
}

#navbar {
  color: white;
  font-family: CaviarDreams;
}
.nav-link {
  font-size: 2rem;
  color: white;
  margin: 0px;
  padding: 10px 0.5px;
}

.nav-link:hover {
  color: red;
}

.textinfo {
text-align: left;
  padding: 10px;
  font-size: 24px;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}
.info-continer {
  align-items: center;
  text-align: center;
  margin: 0px;
}

.continer-backgorund-color {
  background-color: rgb(235, 13, 13);
  color: rgb(255, 255, 255);
}

.titlesection {
  padding: 1.5%;
}

.textSubtitle {
  margin: 10px;
  text-align: left;
}

.text-principal-color {
  color: red;
}

.padding20 {
  padding: 2%;
}
.row {
  --bs-gutter-x: 0rem;
}
.card-body {
  flex: 1 1 auto;
  padding: 0rem 0rem;
}

.card-image-responsive {
  max-width: 160px;
  height: 130px;
}

.card-image-responsive-top {
  max-width: 100%;
  max-height: 370px;
}

#contact {
  color: white;
}

.blackbrackground {
  background-color: rgb(0, 0, 0);
}

section div h2 {
  color: rgb(71, 71, 71);
}
.card {
  margin: 8px;
}
.card-body {
  padding-left: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.card-image-center {
  vertical-align: middle;
  padding: 8px;
  text-align: center;
  align-content: center;
}

.continer-title-section {
  border-bottom: 4px solid red;
}

#wasteawayCotiner {
  background-color: #fbf1df;
}
#yefs {
  background-color: #35aaf2;
}

#foodpanelContiner {
  background-color: #5e407b;
  color: white;
}

#kernelContiner {
  background-color: #ce3142;
  color: white;
}
.projectContiner {
  padding-top: 4px;
}

#skills {
  background-color: rgb(0, 0, 0);
  padding: 15px;
  padding-bottom: 30px;
  color: white;
}
.progress {
  margin: 10px;
}
.javaSkills {
  background-color: #f20505 !important;
}

.javascriptSkills {
  background-color: #f2b705 !important;
}

.pythonSkills {
  background-color: #0378a6 !important;
}
.htmlSkills {
  background-color: #d94625 !important;
}
.xdSkills {
  background-color: #ff61f6 !important;
}

.titlesectionLife {
  position: relative;
  display: flex;
  vertical-align: middle;
}

.text-center-aling {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 16px;
}
div div h3{
    font-size: 4em;
}
.socialmedia{
    margin: 64px;
}

.icon{
    margin-right:10px;
    margin-left: 10px;
}
.musicButton:hover{
    color:red;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #fe8686;
    outline: 0;
    box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%); 
    /* box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%); */
}

.accordion-button:not(.collapsed) {
    color: #e40c0c;
    background-color: #ffe7e7;
}

.bluengccolor:hover{
    background-color:rgba(4, 49, 250, 0.466);
}

.yellowuniandescolor:hover{
    background-color:#f0e10f59;
}

.blueontrackcolor:hover{
    background-color:#63c9f28a;
}

.foodpanelcolor:hover{
    background-color:#8350f270;
}